<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../dist/output.css">
    <title>Search bar</title>
</head>
<body>
    <div class="navbar-content w-full bg-primary flex items-center py-4 px-7 md:px-32    md:justify-between gap-6  ">
        <img src="../../../assets/images/logo.svg" alt="" class="logo h-6">
        <div class="searchbar py-2 px-2 md:px-4 flex w-full md:w-[720px] gap-2 items-center bg-white rounded text-xs md:text-base">
            <img src="/assets/icons/search-icon.png" alt="" class="search-icon hover:cursor-pointer h-4 ">
            <input type="text" class="bar w-full outline-none" placeholder="cari game disini" maxlength="100"/>
        </div>
    </div>
    <div class="hero bg-red-500 h-1/2">
</body>
</html>