<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../dist/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/621e2dd331.js" crossorigin="anonymous"></script>
    <title>Search bar</title>
</head>
<body>
  <nav class="bg-primary px-7 md:px-32">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center">
        <img src="../../../assets/images/logo.svg" class="h-8 mr-3" alt="RjStore Logo" />
    </a>
    <div class="flex md:order-2">
      <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-white focus:outline-none focus:ring-2 focus:ring-gray-200 rounded-lg text-sm p-2.5 mr-1" >
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
      </button>
      <div class="relative hidden py-1 px-2 md:px-4 md:flex w-full md:w-[720px] gap-2 items-center bg-white rounded text-xs md:text-base">
        <input type="text" class="block w-full text-sm outline-none border-none focus:outline-none focus:ring-0" placeholder="Cari Game..">
        <button type="button" class="bg-blue-500 text-white px-3 rounded-md">Cari</button>
      </div>
      <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-search" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
      <div class="z-50 absolute right-0 top-[70px] items-center justify-between hidden w-full md:flex md:w-auto md:order-1 bg-[#252F45]" id="navbar-search">
        <div class="relative mt-3 mx-4 md:hidden flex gap-4 bg-white outline-none border-white rounded ">
          <input type="text" class="block w-full text-sm bg-white outline-none border-white rounded-l" placeholder="Cari Game...">
          <button type="button" class="bg-blue-500 text-white px-3 rounded-r">Cari</button>
        </div>
        <div class="flex flex-col p-4 md:hidden mt-4 gap-8 font-medium text-white">
            <a href="../../../src/index.html" class="flex flex-col gap-2 items-center py-2 pl-3 pr-4 text-white bg-blue-700 rounded" aria-current="page">
              <i class="fa-solid fa-house text-2xl"></i>
              <p>Beranda</p>
            </a>
            <a href="../../../src/TopUp.html" class="flex flex-col gap-2 items-center py-2 pl-3 pr-4 rounded hover:text-[#3B82F6]">
              <i class="fa-solid fa-credit-card text-2xl"></i>
              <p>top Up</p>
            </a>
            <a href="#" class="flex flex-col gap-2 items-center py-2 pl-3 pr-4 rounded hover:text-[#3B82F6]">
              <i class="fa-regular fa-circle-question text-2xl"></i>
              <p>Syarat dan Ketentuan</p>
            </a>
        </div>
      </div>
    </div>
</nav>     
  <script src="../../../node_modules/flowbite/dist/flowbite.min.js"></script>  
</body>
</html>