<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../dist/output.css" rel="stylesheet">
    <link href="../../assets/images/bg-beranda.png" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
    <footer class="font-poppins text-sm md:text-base footer bg-primary  flex flex-col text-white p-7 md:px-28  gap-16 md:gap-32  ">
        <section class="atas flex justify-between">
            <section class="bagian-kiri font-poppins">
                <img src="../../assets/images/logo.svg" alt="" class="logo">
                <h2 class="mb-7">PT.GAMERS INDONESIA</h2>
                <p class="w-[80%] md:w-[40%] ">Platform yang menghubungkan antara pembeli dan penjual guna memudahkan transaksi digital yang nyaman dan aman.</p>
            </section>
            <section class="bagian-kanan">
                <p class="mb-2">Butuh Bantuan?</p>
                <img src="../../assets/images/hubungikami.jpg" alt="">
            </section>
        </section>
        <section class="bawah text-xs md:text-base flex flex-col-reverse md:flex-row  justify-center md:justify-between items-center text-[#8896AB] gap-3">
            <p>© 2023 Bang RJ STORE. All rights reserved.</p>
            <div class="sosial-media flex h-5 md:h-6 md:gap-4  gap-1 ">
                <img src="../../assets/icons/Facebook.svg" alt="" class="facebook">
                <img src="../../assets/icons/Twitter.svg" alt="" class="twitter">
                <img src="../../assets/icons/Instagram.svg" alt="" class="instagram">
                <img src="../../assets/icons/LinkedIn.svg" alt="" class="LinkedIn">
            </div>
        </section>
    </footer>
</body>
</html>